/*Index(Page Headers)*/ 
header {    
    background-color: #000042; /* Set background color of header */
    color: white; /* Set background color of header */
    padding: 10%;
}
    /*insert headshot image top right*/ 
.headshot {
    width: 100%; /* Set width of the headshot image */
    height: 100%; /* Set height of the headshot image */
    border-radius: 50%; /* Make the headshot image circular */
}
nav ul {
    list-style-type: none;  /* Remove bullet points from list items */
    padding: 0;  /* Remove default padding */
    text-align: left;  /* Align text to the left */
    font-family: Arabic Typesetting, serif; /* Set font family for the navigation list */
}
nav ul li {
    display: inline; /* Display list items in a horizontal row */
    margin-right: 10px;  /* Add space between list items */
}
nav ul li a {
    color: white; /* Set text color to white for links */
    text-decoration: none;  /* Remove underline from links */
}
nav ul li a:hover {
    text-decoration: underline; /* Underline links when hovered */
}



/* Contact section */
